<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>jeeApp</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <!-- <servlet>
    <servlet-name>shashvat</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  </servlet> -->
  <!-- <servlet-mapping>
    <servlet-name>shashvat</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping> -->

  <servlet>
    <servlet-name>registerPage</servlet-name>
    <jsp-file>/views/register.jsp</jsp-file>
</servlet>
<!--mapping-->
<servlet-mapping>
    <servlet-name>registerPage</servlet-name>
    <url-pattern>/register</url-pattern>   
</servlet-mapping>

<servlet>
    <servlet-name>home</servlet-name>
    <jsp-file>/views/home.jsp</jsp-file>
</servlet>
<!--mapping-->
<servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/home</url-pattern>   
</servlet-mapping>

<servlet>
    <servlet-name>logout</servlet-name>
    <jsp-file>/views/logout.jsp</jsp-file>
</servlet>
<!--mapping-->
<servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>   
</servlet-mapping>

<servlet>
    <servlet-name>noteBookList</servlet-name>
    <jsp-file>/views/noteBookList.jsp</jsp-file>
</servlet>
<!--mapping-->
<servlet-mapping>
    <servlet-name>noteBookList</servlet-name>
    <url-pattern>/noteBookList</url-pattern>   
</servlet-mapping>

<servlet>
    <servlet-name>notifications</servlet-name>
    <jsp-file>/views/notifications.jsp</jsp-file>
</servlet>
<!--mapping-->
<servlet-mapping>
    <servlet-name>notifications</servlet-name>
    <url-pattern>/notificationsView</url-pattern>   
</servlet-mapping>

<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/error.jsp</location>
	</error-page>
</web-app>